h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
}
a {
  text-decoration: none;
}
/*******   nav   *******/
.navbar {
  background-image: url(../images/bg-pattern.png),
    linear-gradient(to left, #7b4397, #dc2430);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 5rem;
}
.navbar .nav-title {
  font-size: 1rem;
  color: #fdcc52;
  font-weight: 500;
}
.navbar nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar nav ul li {
  list-style-type: none;
}
.navbar a {
  color: #bec9bd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.navbar ul li:not(:first-child) {
  padding-left: 2rem;
}
.navbar .toggle {
  display: none;
}

/*******   main   *******/
.main {
  background-image: url(../images/bg-pattern.png),
    linear-gradient(to left, #7b4397, #dc2430);
  display: flex;
  align-items: center;
  padding: 3rem 7rem;
}
.main-content {
  padding-right: 5rem;
}
.main-content h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 1rem;
}
.main-content a {
  font-size: 0.75rem;
  border: #f9f5fa solid 1px;
  padding: 0.75rem 1rem;
  background: inherit;
  color: white;
  border-radius: 20px;
}
.main-content a:hover {
  background-color: #f9f5fa;
  color: black;
}
.main-image {
  height: 500px;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/**   download   **/
.download {
  background-color: #fdc947;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.download-heading {
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  margin: -10px;
}
.download-para {
  font-size: 18px;
  margin-bottom: 1.5rem;
}
.download-image {
  display: flex;
}
.download-image .playstore,
.download-image .appstore {
  width: 150px;
  height: 40px;
  margin: 0 1rem;
}
.download img {
  width: 100%;
  height: 100%;
}
/*******   features   *******/
.features {
  justify-content: center;
  padding: 3rem 7rem;
}
.features h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}
.features h5 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #6c757d;
}

.iconholder {
  display: flex;
  padding: 4rem 0 0 0;
}
.iconholder-image {
  width: 400px;
  height: 400px;
}
.iconholder-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.row {
  display: flex;
}
.icon {
  text-align: center;
  padding: 1.5rem 2rem;
}
.icon-heading {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 1rem;
}
.icon-desc {
  font-size: 1rem;
  color: #6c757d;
}
.icon i {
  font-size: 3rem;
  color: #a6356a;
}

/*******   middle-container  *******/
.middle-container {
  position: relative;
  width: 100%;
  height: 600px;
}
.middle-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.middle-container-content {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.middle-container-btn {
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: #f9f5fa solid 1px;
  background: inherit;
  color: white;
  border-radius: 20px;
}
.middle-container-btn:hover {
  background-color: #f9f5fa;
  color: black;
}
.middle-container-h1,
.middle-container-h2 {
  font-size: 3.5rem;
  color: #ffffff;
  font-weight: 500;
}

/*******   contact   *******/
.contact {
  text-align: center;
  padding: 4rem 0;
  background-color: #fdc947;
}
.contact i {
  color: #dc2430;
}
.contact h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.contact-iconholder {
  display: flex;
  justify-content: center;
}
.contact-icon {
  width: 50px;
  height: 50px;
  padding: 0 0.5rem;
}
.contact-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*******   footer   *******/
footer {
  background-color: #343a40;
  color: #fcecec4d;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: inherit;
}
.footer a:not(:last-child) {
  margin-right: 1rem;
}

/**********  Media Queries ***************/

/********    md     ***********/
@media screen and (max-device-width: 991px) {
  /*******   nav   *******/
  .navbar {
    padding: 1rem 2rem;
  }
  .navbar .nav-title {
    font-size: 1.375rem;
  }
  .navbar a {
    font-size: 0.625rem;
  }
  .navbar ul li:not(:first-child) {
    padding-left: 1rem;
  }

  /*********** main *****************/
  .main {
    padding: 0 2rem;
  }
  .main-content h1 {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 1rem;
  }
  .main-image {
    height: 300px;
  }

  /**************download ***************/
  .download {
    padding: 3rem 2rem;
  }
  .download-para {
    text-align: center;
  }

  /*******   features    *****/
  .features {
    padding: 2rem 2rem 0 2rem;
  }
  .features h5 {
    font-size: 1.5rem;
  }
  .iconholder {
    flex-direction: column;
    align-items: center;
  }
  .iconholder-content {
    margin: 2rem 0;
  }
  .iconholder-image {
    align-items: center;
    width: 400px;
    height: 400px;
    margin-right: 2rem;
  }
}
@media screen and (max-device-width: 610px) {
  /**********  features  ****************/
  .features h1 {
    font-size: 1.5rem;
  }
  .features h5 {
    font-size: 1rem;
  }
  .iconholder {
    padding-top: 2rem;
  }
  .row {
    flex-direction: column;
  }
  .icon {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
  }

  .icon-heading {
    padding-top: 0;
    font-size: 1.5rem;
  }
  .icon i {
    font-size: 4rem;
  }
  .icon-content {
    padding-left: 2rem;
    text-align: left;
  }
  .mobile-icon {
    padding-right: 1rem;
  }
}
/**************    sm    *******/
@media screen and (max-device-width: 450px) {
  /***************navbar**********/
  .navbar {
    padding: 1.5rem;
    align-items: center;
  }
  .navbar nav {
    display: none;
  }
  .navbar a {
    font-size: 0.5rem;
  }
  .navbar .nav-title {
    font-size: 1.5rem;
  }
  .navbar .toggle {
    display: block;
    color: #ffffff;
  }

  /**************main ************/
  main {
    flex-direction: column;
    padding: 2rem;
  }
  .main-image {
    height: 200px;
    margin: 2rem 0;
  }
  .main-content {
    padding-right: 0;
    text-align: center;
  }
  .main-content h1 {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin: 2rem 0;
  }

  /*********download*************/
  .download {
    padding: 2rem;
  }

  .download-heading {
    font-size: 1.5rem;
    line-height: 2;
  }
  .download-image .playstore,
  .download-image .appstore {
    margin: 0;
    margin-bottom: 1rem;
  }
  .download-para {
    margin-top: 1rem;
  }
  /**********  features  ****************/
  .features h1 {
    font-size: 1.5rem;
  }
  .features h5 {
    font-size: 1rem;
  }
  .iconholder {
    padding-top: 2rem;
  }
  .row {
    flex-direction: column;
  }
  .icon {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }

  .icon-heading {
    padding-top: 0;
    font-size: 1.5rem;
  }
  .icon i {
    font-size: 4rem;
  }
  .icon-content {
    padding-left: 2rem;
    text-align: left;
  }
  .mobile-icon {
    padding-right: 1rem;
  }

  /*******   middle-container  *******/
  .middle-container-h1,
  .middle-container-h2 {
    font-size: 2rem;
  }
  .middle-container-h2 {
    margin-bottom: 2rem;
  }

  /******  contact   ********/
  .contact h1 {
    font-size: 1.625rem;
  }
  /******* footer ***************/
  footer {
    flex-direction: column;
  }
}
